<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>CSERVER</title>
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">

    <script src="jquery/dist/jquery.min.js"></script>
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="h1">cserver</div>
        <div class="row">
            <div class="col">
                <table id="tabla">
                    <tr>
                        <th>Archivo</th>
                        <th>Acciones</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>


<script>
    
    function borrar(filename){
        $.ajax({
            url: `/delfile?filename=${filename}`,
            success: function (result) {
                alert('borrado')
                location.reload(); 
            }});
    }

    $(document).ready(function () {
        $.ajax({
            url: `/getlist`,
            success: function (result) {
                for (var file of result) {
                    $("#tabla").append(`<tr><td>${file}</td><td><a href="convert?filename=${encodeURI(file)}">convertir</a> |<button type="button" class="btn btn-danger" onclick="borrar('${encodeURI(file)}')">borrar</button></td></tr>`)
                }
            }
        });

    });

    
</script>
</html>