<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>CSERVER</title>
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">

    <script src="jquery/dist/jquery.min.js"></script>
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">CSERVER</span>
</nav>
    <div class="alert alert-primary" role="alert" id="out"></div>
        <div class="row">
            <div class="col">
                <table id="tabla">
                    <tr>
                        <th>Archivo</th>
                        <th>Acciones</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>


<script>
    
    function borrar(filename){
        $.ajax({
            url: `/delfile?filename=${filename}`,
            success: function (result) {
            location.reload(); 
            }});
    }

    function convertir(filename){
        $.ajax({
            timeout: 600000,
            url: `/convert?filename=${filename}`,
            success: function (result) {
            location.reload(); 
            }});
    }


    function getStatus(){
       $.ajax({
            url: `/getstatus`,
            success: function (result) {
               $("#out").text(`${result}`)
               }});   
    }

    setInterval(function(){getStatus()}, 5000);

    $(document).ready(function () {
    getStatus();
        $.ajax({
            url: `/getlist`,
            success: function (result) {
                for (var file of result) {
                    var extension = file.split(".").pop()
                    console.log(file,extension)
                    if (extension.toLowerCase()=="mkv"){
                    $("#tabla").append(`<tr><td><strong>${file}</strong></td><td><div class="btn-group"><button type="button" class="btn btn-outline-primary" onclick="convertir('${encodeURI(file)}')">convertir</button><button type="button" class="btn btn-outline-danger" onclick="borrar('${encodeURI(file)}')">borrar</button></div></td></tr>`)
                    }else{
                   $("#tabla").append(`<tr><td>${file}</td><td><div class="btn-group"><button type="button" class="btn btn-outline-primary" onclick="convertir('${encodeURI(file)}')">convertir</button><button type="button" class="btn btn-outline-danger" onclick="borrar('${encodeURI(file)}')">borrar</button></div></td></tr>`)
                        
                    }
                }
            }
        });

    });


    
</script>
</html>